[Unit]
Description=Miden validator
Wants=network-online.target

[Install]
WantedBy=multi-user.target

[Service]
Type=exec
Environment="OTEL_SERVICE_NAME=miden-validator"
EnvironmentFile=/lib/systemd/system/miden-validator.env
ExecStart=/usr/bin/miden-validator start
WorkingDirectory=/opt/miden-validator
User=miden-validator
RestartSec=5
Restart=always
